@font-face {
  font-family: "Agustina";
  src: url("/assets/fonts/Agustina.woff") format("woff");
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #030c2d;
}

.hex-logo {
  width: 1000px;
  height: 500px;
  display: block;
  margin: 0;
  padding: 0;
}

.myHexagon {
  fill: none;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  animation: drawHex 1.5s ease-out forwards;
}

.myHexagon.outer {
  stroke-width: 4;
  animation-delay: 0s;
}

.myHexagon.inner {
  stroke-width: 3;
  animation-delay: 0.3s;
}

.rv-outline {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  fill: none;
  stroke: white;
  stroke-width: 1.5;
  opacity: 0;
  animation: fadeIn 0.1s ease forwards;
  animation-delay: 0.1s;
}

.animated-name {
  font-family: "Agustina", cursive !important;
  font-size: 60px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: -80px;
}

.type-char {
  opacity: 0;
  animation: typeIn 0.4s ease-out forwards;
  animation-fill-mode: forwards;
}

/* Animations */
@keyframes typeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drawHex {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
